<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="" />

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{{ site.description }}" />

  <!-- Google Analytics -->

  <!-- Favicons -->

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />

  <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

  <title>{{ site.title }}</title>

  <base href="{{ site.baseurl }}" />
</head>
